.acordion {
  height: 100dvh;
  width: 80%;
  margin: 100px auto;
}
.btn {
  padding: 6px 12px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.acordion-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.acordion-item {
  background-color: brown;
  color: aliceblue;
  padding: 10px 30px;
}
